*{

  margin: 0;
  padding: 0;
  font-family:
}

.clear {
  clear: left;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px;
  display: none;
}


header {
  height: 65px;
  width: 100%;
  background-color: #273c75;
  opacity: 0.9;
  position :fixed;
  top: 0;
  z-index: 10;
 }

.header-left{
  font-size: 20px;
  color: white;
  font-weight: bold;
  padding-top: 10px;
  float: left;
  font-family: brush script std;
}

.header-left p {
  padding-top: 10px;
}
.header-right {
  float: right;
  background-color: white;
  border-radius: 35px;
  margin-top: 10px;
}


.login:hover {
  background-color: rgba(84, 160, 255,1.0);
  color: white;
  transition: 0.5s;
  border-radius: 35px;
}
.header-right a {
  line-height: 40px;
  padding: 0 25px;
  display:block;
}

.top-wrapper {
  height: 510px;
  background-color: rgb(69, 150, 255, 0.9);
  color: white;
  background-image: url(https://digitalent.kominfo.go.id/assets/@images/small-ld.png);
  background-repeat: no-repeat;
  background-position-x: 820px;
  background-size: 500px;
  max-width: 100%;
  padding-top: 120px;
}


.container {
  max-width: 1170px;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}


.kuning{
  color: yellow;
}

.top-wrapper h1 {
  margin-bottom: 50px;
  font-size: 36px
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 20px;
  font-size: 25px;

}

a {
    text-decoration: none;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn {
  padding: 12px 24px;
  color: blue;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.read {
  border: solid 2px blue;
  background-color: white;
}


.lesson-wrapper {
  height: 500px;
  padding-bottom: px;
  background-color: #f7f7f7;
  text-align: center;
}
.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}
 h2 {
  font-weight: normal;
  text-align: center;
}
.lesson {
  float: left;
  width: 20%;
}
.lesson-icon {
  position: relative;
}
.lesson-icon p {
  position: absolute;
  top: 140px;
  width: 100%;
  color: blue;
}
.txt-contents {
  width: 80%;
  display:inline-block;
  margin-top: 80px;
  font-size: 15px;
  color: red;
}

.message-wrapper {
text-align: center;
padding-bottom:80px;
border-bottom:1px solid #eee;
}



.message {
padding:15px 40px;
background-color:#008B8B
color:#000000;
cursor:pointer;
border:1px solid #eee;
box-shadow: 7px 7px #5f9ea0;
}

.message:active {
box-shadow:none;
position:relative;
top:7px;
left:7px;
transform: rotate(45deg);
transiton: 1s transform;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
  color: #95a5a6;

}

footer p1 {
  font-family:brush script std;
  font-size: 20px;
  color: #9b59b6;

}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  border-top: 1px solid #7f8c8d;
}
